node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*

# Intlayer
.intlayer

# lockfiles (removed to make intlayer test easier)
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lock